<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Автомобильные коврики EVA в Украине Компания EvaKovrik</title>
    <link rel="stylesheet" href="../static/js/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../static/js/nice-select2/nice-select2.css">
    <link rel="stylesheet" href="../static/js/tingle/tingle.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <a href="/" class="logo header-logo">
                <img src="../static/images/logo.png" alt="Evacode logo">
            </a>
            <div class="contact-box">
                <div class="social-box">
                    <div class="social-box__links">
                        <a href="#" class="social-box__link">
                            <i class="icon-facebook"></i>
                        </a>
                        <a href="#" class="social-box__link">
                            <i class="icon-vk"></i>
                        </a>
                        <a href="#" class="social-box__link">
                            <i class="icon-instagram"></i>
                        </a>
                    </div>
                    <a href="#" class="social-box__link social-box__text">
                        <i class="icon-mail"></i>
                        evadrive.md@gmail.com
                    </a>
                </div>
                <div class="phones-box">
                    <a href="#" class="social-box__link social-box__text">
                        <i class="icon-call-in"></i>
                        079 541-932
                    </a>
                </div>
            </div>
        </header>
        <main class="content">
            <section class="hero">
                <div class="container">
                    <div class="hero__content">
                        <h1 class="title hero__title">Unique EVA mats for the interior of your car</h1>
                        <h2 class="sub-title hero__sub-title">Eco-friendly car mats of the new generation!</h2>
                        <p class="hero__text text">
                            <img class="hero__text-icon" src="../static/images/hero-tick.png" alt="">
                            We guarantee high quality products
                        </p>
                        <div class="hero-scroll-down">
                            <a href="#price-constructor" class="button hero__button">Calculate the price</a>
                            <a href="#price-constructor" class="hero-scroll-down__arrows">
                                <div class="hero-scroll-down__arrow"><i class="icon-arrow-down"></i></div>
                                <div class="hero-scroll-down__arrow"><i class="icon-arrow-down"></i></div>
                                <div class="hero-scroll-down__arrow"><i class="icon-arrow-down"></i></div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="advantages section">
                <div class="container">
                    <h2 class="section__title advantages__title">
                        <span>Advantages</span>
                        of <span>EVA</span> car mats
                    </h2>
                    <div class="advantages__grid">
                        <div class="advantage__item item-advantage">
                            <div class="item-advantage__image"><img src="../static/images/advantages/01.png" alt="">
                            </div>
                            <h3 class="item-advantage__title">Unique cell
                            </h3>
                            <p class="item-advantage__description text">Dirt, dust, and water are trapped
                                in the diamond-shaped cells,
                                so they don't spread throughout the cabin
                                and don't stain your shoes or clothes</p>
                        </div>
                        <div class="advantage__item item-advantage">
                            <div class="item-advantage__image"><img src="../static/images/advantages/02.png" alt="">
                            </div>
                            <h3 class="item-advantage__title">Ecological material
                            </h3>
                            <p class="item-advantage__description text">The material is environmentally friendly and
                                harmless,
                                odorless, hypoallergenic</p>
                        </div>
                        <div class="advantage__item item-advantage">
                            <div class="item-advantage__image"><img src="../static/images/advantages/03.png" alt="">
                            </div>
                            <h3 class="item-advantage__title">All-season use
                            </h3>
                            <p class="item-advantage__description text">All-season use,
                                retains elasticity at
                                temperature -50/+50</p>
                        </div>
                        <div class="advantage__item item-advantage">
                            <div class="item-advantage__image"><img src="../static/images/advantages/04.png" alt="">
                            </div>
                            <h3 class="item-advantage__title">Wide range of colors
                            </h3>
                            <p class="item-advantage__description text">You can choose the color of the mat
                                and edging tape, which will give your cabin
                                personalization of your interior</p>
                        </div>
                        <div class="advantage__item item-advantage">
                            <div class="item-advantage__image"><img src="../static/images/advantages/05.png" alt="">
                            </div>
                            <h3 class="item-advantage__title">Maximum floor coverage
                            </h3>
                            <p class="item-advantage__description text">The mats maximize coverage
                                interior floor</p>
                        </div>
                        <div class="advantage__item item-advantage">
                            <div class="item-advantage__image"><img src="../static/images/advantages/06.png" alt="">
                            </div>
                            <h3 class="item-advantage__title">Secure fasteners
                            </h3>
                            <p class="item-advantage__description text">Securely fastened to
                                original clips
                                and additionally Velcro to the floor</p>
                        </div>
                        <div class="advantage__item item-advantage">
                            <div class="item-advantage__image"><img src="../static/images/advantages/07.png" alt="">
                            </div>
                            <h3 class="item-advantage__title">Easy to clean
                            </h3>
                            <p class="item-advantage__description text">Easy to clean under running water, all
                                accumulated dirt is washed out of
                                all accumulated dirt is washed out of the cells
                                dirt</p>
                        </div>
                        <div class="advantage__item item-advantage">
                            <div class="item-advantage__image"><img src="../static/images/advantages/08.png" alt="">
                            </div>
                            <h3 class="item-advantage__title">Quality assurance
                            </h3>
                            <p class="item-advantage__description text">We guarantee high quality
                                car mats that
                                last for a long time</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="comparison section">
                <div class="container">
                    <div class="comparison__cards">
                        <div class="comparison__card card-comparison">
                            <h3 class="card-comparison__title">Pile mats
                            </h3>
                            <div class="card-comparison__image"><img src="../static/images/comparison/comparison-1.jpg"
                                    alt="">
                            </div>
                            <ul class="property-list text">
                                <li class='property-list__item'><img class="card-comparison__icon"
                                        src="../static/images/comparison/comparison-not-ok.png" alt="">Difficult to
                                    maintain
                                </li>
                                <li class='property-list__item'><img class="card-comparison__icon"
                                        src="../static/images/comparison/comparison-not-ok.png" alt="">Price: 1500 -
                                    2950
                                    UAH
                                </li>
                                <li class='property-list__item'><img class="card-comparison__icon"
                                        src="../static/images/comparison/comparison-not-ok.png" alt="">Doesn't hold dirt
                                    and

                                </li>
                                <li class='property-list__item'><img class="card-comparison__icon"
                                        src="../static/images/comparison/comparison-question.png" alt="">They lay better
                                    than
                                    rubber
                                </li>
                                <li class='property-list__item'><img class="card-comparison__icon"
                                        src="../static/images/comparison/comparison-not-ok.png" alt="">There are no
                                    guarantees
                                    rapid
                                    wear and tear
                                </li>
                            </ul>
                        </div>
                        <div class="comparison__card card-comparison card-comparison--highlighted">
                            <h3 class="card-comparison__title">Our TM "<span>Eva</span>Rug"
                            </h3>
                            <div class="card-comparison__image"><img src="../static/images/comparison/comparison-2.jpg"
                                    alt="">
                            </div>
                            <ul class="property-list text">
                                <li class='property-list__item'><img class="card-comparison__icon"
                                        src="../static/images/comparison/comparison-ok.png" alt="">Easy care
                                </li>
                                <li class='property-list__item'><img class="card-comparison__icon"
                                        src="../static/images/comparison/comparison-question.png" alt="">Price from 1790
                                    UAH
                                </li>
                                <li class='property-list__item'><img class="card-comparison__icon"
                                        src="../static/images/comparison/comparison-ok.png" alt="">Keeps dirt and
                                    water
                                </li>
                                <li class='property-list__item'><img class="card-comparison__icon"
                                        src="../static/images/comparison/comparison-ok.png" alt="">Lying flat, individ
                                    dimensions
                                </li>
                                <li class='property-list__item'><img class="card-comparison__icon"
                                        src="../static/images/comparison/comparison-ok.png" alt="">12 months warranty
                                </li>
                            </ul>
                        </div>
                        <div class="comparison__card card-comparison">
                            <h3 class="card-comparison__title">Rubber mats
                            </h3>
                            <div class="card-comparison__image"><img src="../static/images/comparison/comparison-3.jpg"
                                    alt="">
                            </div>
                            <ul class="property-list text">
                                <li class='property-list__item'><img class="card-comparison__icon"
                                        src="../static/images/comparison/comparison-ok.png" alt="">Easy care
                                </li>
                                <li class='property-list__item'><img class="card-comparison__icon"
                                        src="../static/images/comparison/comparison-ok.png" alt="">Price: 1200 - 1800
                                    UAH
                                </li>
                                <li class='property-list__item'><img class="card-comparison__icon"
                                        src="../static/images/comparison/comparison-not-ok.png" alt="">Making puddles
                                    under
                                    feet
                                </li>
                                <li class='property-list__item'><img class="card-comparison__icon"
                                        src="../static/images/comparison/comparison-not-ok.png" alt="">Only
                                    universal
                                    mold
                                </li>
                                <li class='property-list__item'><img class="card-comparison__icon"
                                        src="../static/images/comparison/comparison-question.png" alt="">No guarantees
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="get-gift section">
                <div class="container">
                    <h2 class="get-gift__title section__title">Fill out the form below and get the footrest as a gift.
                        as a gift.</h2>
                    <form name="get-gift" method="post" class="get-gift__form">
                        <input type="text" name="email" placeholder="Phone number*" required type="tel"
                            class="input get-gift__input">
                        <button type="submit" class="button get-gift__button">Get advice</button>
                    </form>
                </div>
            </section>
            <section class="section work-examples">
                <h2 class="title section__title work-examples__title">See examples of <span>our work</span>
                </h2>

                <!-- Slider main container -->
                <div class="swiper work-examples-swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide work-example-slide">
                            <img src="../static/images/work-examples/1.jpg" alt="">
                        </div>
                        <div class="swiper-slide work-example-slide">
                            <img src="../static/images/work-examples/2.jpg" alt="">
                        </div>
                        <div class="swiper-slide work-example-slide">
                            <img src="../static/images/work-examples/3.jpg" alt="">
                        </div>
                        <div class="swiper-slide work-example-slide">
                            <img src="../static/images/work-examples/4.jpg" alt="">
                        </div>
                        <div class="swiper-slide work-example-slide">
                            <img src="../static/images/work-examples/5.jpg" alt="">
                        </div>
                        <div class="swiper-slide work-example-slide">
                            <img src="../static/images/work-examples/6.jpg" alt="">
                        </div>
                        <div class="swiper-slide work-example-slide">
                            <img src="../static/images/work-examples/7.jpg" alt="">
                        </div>
                        <div class="swiper-slide work-example-slide">
                            <img src="../static/images/work-examples/8.jpg" alt="">
                        </div>
                        <div class="swiper-slide work-example-slide">
                            <img src="../static/images/work-examples/9.jpg" alt="">
                        </div>
                        <div class="swiper-slide work-example-slide">
                            <img src="../static/images/work-examples/10.jpg" alt="">
                        </div>
                        <div class="swiper-slide work-example-slide">
                            <img src="../static/images/work-examples/11.jpg" alt="">
                        </div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination work-examples-swiper__pagination"></div>
                </div>
            </section>
            <section class="section price-constructor" id="price-constructor">
                <div class="container">
                    <h2 class="section__title price-constructor__title">Virtual mat designer
                    </h2>
                    <p class="section__sub-title price-constructor__title">Description of the Kits and their Costs,
                        in step 3
                    </p>

                    <div class="price-constructor__holder">
                        <header class="price-constructor__header">
                            <button data-step-id="1"
                                class="price-constructor__button price-constructor__button--active">Checking
                                pattern availability</button>
                            <button data-step-id="2" class="price-constructor__button">Color matching</button>
                            <button data-step-id="3" class="price-constructor__button">Cost of kits</button>
                            <button data-step-id="4" class="price-constructor__button">Application
                                Formalization</button>
                        </header>
                        <form action="" method="post" id="price-constructor-form" name="price-constructor-form"
                            class="price-constructor__form">
                            <div class="price-constructor__step price-constructor__step--active constructor-step"
                                data-step-id="1">
                                <h3 class="constructor-step__title">The first thing you need to do is to check if the
                                    molds are available for
                                    your car
                                </h3>
                                <div class="constructor-step__image"><img
                                        src="../static/images/price-constructor/step-1.jpg" alt=""></div>
                                <div class="constructor-step__fields">
                                    <h4 class="constructor-step__field-title">Fill out the form to verify:
                                    </h4>
                                    <select class="select constructor-step__select constructor-step__field"
                                        name="carMake" id="car-make">
                                        <option selected disabled value="none">Car make</option>
                                        <option value="98">Acura</option>
                                        <option value="3">Alfa Romeo</option>
                                        <option value="5">Aston Martin</option>
                                        <option value="6">Audi</option>
                                        <option value="8">Bentley</option>
                                        <option value="9">BMW</option>
                                        <option value="109">Bugatti</option>
                                        <option value="110">Buick</option>
                                        <option value="11">Cadillac</option>
                                        <option value="13">Chevrolet</option>
                                        <option value="14">Chrysler</option>
                                        <option value="118">Dodge</option>
                                        <option value="22">Ferrari</option>
                                        <option value="23">Fiat</option>
                                        <option value="3444">Fisker</option>
                                        <option value="24">Ford</option>
                                        <option value="2604">Genesis</option>
                                        <option value="123">GMC</option>
                                        <option value="28">Honda</option>
                                        <option value="127">Hummer</option>
                                        <option value="29">Hyundai</option>
                                        <option value="128">Infiniti</option>
                                        <option value="30">Isuzu</option>
                                        <option value="31">Jaguar</option>
                                        <option value="32">Jeep</option>
                                        <option value="33">Kia</option>
                                        <option value="35">Lamborghini</option>
                                        <option value="37">Land Rover</option>
                                        <option value="38">Lexus</option>
                                        <option value="135">Lincoln</option>
                                        <option value="6317">Lucid</option>
                                        <option value="45">Maserati</option>
                                        <option value="46">Maybach</option>
                                        <option value="47">Mazda</option>
                                        <option value="3101">McLaren</option>
                                        <option value="48">Mercedes-Benz</option>
                                        <option value="144">Mercury</option>
                                        <option value="49">MG</option>
                                        <option value="147">MINI</option>
                                        <option value="52">Mitsubishi</option>
                                        <option value="55">Nissan</option>
                                        <option value="6131">Polestar</option>
                                        <option value="149">Pontiac</option>
                                        <option value="59">Porsche</option>
                                        <option value="4369">Ram</option>
                                        <option value="63">Rolls-Royce</option>
                                        <option value="65">Saab</option>
                                        <option value="331">Saturn</option>
                                        <option value="3268">Scion</option>
                                        <option value="70">Skoda</option>
                                        <option value="71">Smart</option>
                                        <option value="75">Subaru</option>
                                        <option value="76">Suzuki</option>
                                        <option value="2233">Tesla</option>
                                        <option value="79">Toyota</option>
                                        <option value="84">Volkswagen</option>
                                        <option value="85">Volvo</option>
                                    </select>
                                    <select class="select constructor-step__select constructor-step__field"
                                        name="carModel" id="car-model" required>
                                        <option selected="true" value="none" disabled="disabled">Car model
                                        </option>
                                    </select>
                                    <select class="select constructor-step__select constructor-step__field"
                                        name="carYear" id="car-year" required>
                                        <option selected="true" value="none" disabled="disabled">Year
                                        </option>
                                    </select>
                                    <button data-step-id="2" type="button" class="constructor-step__button button">Next
                                        step</button>
                                </div>

                            </div>
                            <div class="price-constructor__step constructor-step" data-step-id="2">
                                <h3 class="constructor-step__title">The next step is personalization, selecting the
                                    color scheme
                                    of your future mats.
                                </h3>
                                <div class="constructor-step__image"><img
                                        src="../static/images/price-constructor/color-combinations/beige-beige.jpg"
                                        alt="">
                                </div>
                                <div class="constructor-step__fields">
                                    <h4 class="constructor-step__field-title">Choose a color scheme
                                    </h4>
                                    <select class="select constructor-step__select constructor-step__field"
                                        name="rugBackgroundColor" id="rug-background-color">
                                        <option value="none" selected disabled>Carpet color</option>
                                        <option value="beige"> Bejge</option>
                                        <option value="brown">Brown</option>
                                        <option value="red">Red</option>
                                        <option value="gray">Grey</option>
                                        <option value="blue">Blue</option>
                                        <option value="black">Black</option>
                                        <option value="haki">Haki</option>
                                        <option value="darkblue">Dark blue</option>
                                        <option value="orange">Orange</option>
                                    </select>
                                    <select class="select constructor-step__select constructor-step__field"
                                        name="rugOutlineColor" id="rug-outline-color">
                                        <option value="none" selected disabled>Trim color</option>
                                        <option value="beige">Bejge</option>
                                        <option value="brown">Brown</option>
                                        <option value="red">Red</option>
                                        <option value="gray">Grey</option>
                                        <option value="blue">Blue</option>
                                        <option value="black">Black</option>
                                        <option value="white">White</option>
                                        <option value="orange">Orange</option>
                                        <option value="green">Green</option>
                                        <option value="yellow">Yellow</option>
                                    </select>
                                    <button data-step-id="3" type="button" class="constructor-step__button button">Next
                                        step</a>
                                </div>

                            </div>
                            <div class="price-constructor__step constructor-step" data-step-id="3">
                                <h3 class="constructor-step__title">The next step is to choose a set and select
                                    accessories
                                </h3>
                                <div data-modal-id='ekonom-modal' class="constructor-step__card card-step">
                                    <div class="card-step__discount">-40%</div>
                                    <h4 class="card-step__title">Economy</h4>
                                    <a href="#" data-modal-id='ekonom-modal' class="card-step__see-more">see more</a>
                                    <div class="card-step__image"><img
                                            src="../static/images/price-constructor/sets/set-1.jpg" alt=""></div>
                                    <div class="card-step__body">

                                        <a href="#" data-modal-id='thrust-bearer-modal'
                                            class="card-step__accessory-info">
                                            <i class="icon-present"></i>
                                            Special gift
                                        </a>

                                        <label data-modal-ignore="">
                                            <!-- <a href="#" data-modal-id='thrust-bearer-modal'
                                                class="card-step__accessory-info">
                                                <i class="icon-info-filled"></i>
                                            </a> -->
                                            <input type="checkbox" name="thrust-bearer" id="thrust-bearer"
                                                class=" card-step__checkbox">
                                            Thrust bearing
                                        </label>
                                        <p class="card-step__total-price">Total 1350 UAH</p>
                                    </div>
                                    <button data-step-id="4" data-modal-ignore class="button card-step__button"
                                        type="button" name="setType" value="ekonom">Select
                                        set</button>
                                </div>
                                <div data-modal-id='standart-modal' class="constructor-step__card card-step">
                                    <div class="card-step__discount">-30%</div>
                                    <h4 class="card-step__title">Standart</h4>
                                    <a href="#" data-modal-id='standart-modal' class="card-step__see-more">see more</a>
                                    <div class="card-step__image"><img
                                            src="../static/images/price-constructor/sets/set-2.jpg" alt=""></div>
                                    <div class="card-step__body">
                                        <a href="#" data-modal-id='thrust-bearer-modal'
                                            class="card-step__accessory-info">
                                            <i class="icon-present"></i>
                                            Special gift
                                        </a>
                                        <p class="card-step__total-price">Total 1790 UAH</p>
                                    </div>
                                    <button data-step-id="4" data-modal-ignore class="button card-step__button"
                                        type="button" name="setType" value="standart">Select
                                        set</button>
                                </div>
                                <div data-modal-id='premium-modal' class="constructor-step__card card-step">
                                    <div class="card-step__discount">-10%</div>
                                    <h4 class="card-step__title">Премиум</h4>
                                    <a href="#" data-modal-id='premium-modal' class="card-step__see-more">see more</a>
                                    <div class="card-step__image"><img
                                            src="../static/images/price-constructor/sets/set-3.jpg" alt=""></div>
                                    <div class="card-step__body">
                                        <a href="#" data-modal-id='thrust-bearer-modal'
                                            class="card-step__accessory-info">
                                            <i class="icon-present"></i>
                                            Special gift
                                        </a>
                                        <p class="card-step__total-price">Total 1540 UAH</p>
                                    </div>
                                    <button data-step-id="4" data-modal-ignore class="button card-step__button"
                                        type="button" name="setType" value="premium">Select
                                        set</button>
                                </div>

                                <!-- MODALS -->
                                <div class="modal-inner" id="thrust-bearer-modal">
                                    <h2 class="modal__title">Aluminum pedestal
                                    </h2>
                                    <p class="text modal__text">One of the two branded footrests - designed to
                                        to protect
                                        the driver's mat from being pierced or damaged,
                                        by the heel of a shoe or the stiletto heel of a woman's shoe.
                                        They are located close to the accelerator pedal and the foot rest area.</p>

                                    <div class="modal__image">
                                        <img src="../static/images/price-constructor/sets/thrust-bearer.jpg" alt="">
                                    </div>
                                    <ul class="property-list text">
                                        <li class='property-list__item'><img class="card-comparison__icon"
                                                src="../static/images/comparison/comparison-ok.png" alt="">size 25x16
                                            cm

                                        </li>
                                        <li class='property-list__item'><img class="card-comparison__icon"
                                                src="../static/images/comparison/comparison-ok.png" alt="">thickness of
                                            3 mm

                                        </li>
                                        <li class='property-list__item'><img class="card-comparison__icon"
                                                src="../static/images/comparison/comparison-ok.png" alt="">anti-slip
                                            rubber inserts
                                        </li>
                                        <li class='property-list__item'><img class="card-comparison__icon"
                                                src="../static/images/comparison/comparison-ok.png" alt="">set
                                            mounts -
                                            4pcs
                                        </li>
                                        <li class='property-list__item'><img class="card-comparison__icon"
                                                src="../static/images/comparison/comparison-ok.png" alt="">warranty
                                            period
                                            warranty
                                            support with footrest 12 months

                                        </li>
                                    </ul>
                                    <h3 class="modal__title">Price: 450 UAH</h3>
                                </div>

                                <div class="modal-inner" id="ekonom-modal">
                                    <h2 class="modal__title">Economy set</h2>
                                    <div class="modal__image">
                                        <img src="../static/images/price-constructor/sets/set-popup-ekonom.jpg" alt="">
                                    </div>
                                    <ul class="property-list text">
                                        <li class='property-list__item'><img class="card-comparison__icon"
                                                src="../static/images/comparison/comparison-ok.png" alt="">Front or
                                            rear
                                        </li>
                                        <li class='property-list__item'><img class="card-comparison__icon"
                                                src="../static/images/comparison/comparison-ok.png" alt="">Warranty from
                                            6
                                            to
                                            12 months
                                        </li>
                                        <li class='property-list__item'><img class="card-comparison__icon"
                                                src="../static/images/comparison/comparison-ok.png" alt="">Sewing time
                                            5-7
                                            days

                                        </li>
                                        <li class='property-list__item'><img class="card-comparison__icon"
                                                src="../static/images/comparison/comparison-ok.png" alt="">Original
                                            fasteners + Velcro system

                                        </li>
                                        <li class='property-list__item'><img class="card-comparison__icon"
                                                src="../static/images/comparison/comparison-ok.png" alt="">Package
                                            documents
                                        </li>
                                    </ul>
                                    <h3 class="modal__title">Price: 1350 UAH</h3>
                                </div>

                                <div class="modal-inner" id="standart-modal">
                                    <h2 class="modal__title">Standard set</h2>
                                    <div class="modal__image">
                                        <img src="../static/images/price-constructor/sets/set-popup-standart.jpg"
                                            alt="">
                                    </div>
                                    <ul class="property-list text">
                                        <li class='property-list__item'><img class="card-comparison__icon"
                                                src="../static/images/comparison/comparison-ok.png" alt="">Front or
                                            rear
                                        </li>
                                        <li class='property-list__item'><img class="card-comparison__icon"
                                                src="../static/images/comparison/comparison-ok.png" alt="">Warranty from
                                            6
                                            to
                                            12 months
                                        </li>
                                        <li class='property-list__item'><img class="card-comparison__icon"
                                                src="../static/images/comparison/comparison-ok.png" alt="">Sewing time
                                            5-7
                                            days

                                        </li>
                                        <li class='property-list__item'><img class="card-comparison__icon"
                                                src="../static/images/comparison/comparison-ok.png" alt="">Original
                                            fasteners + Velcro system

                                        </li>
                                        <li class='property-list__item'><img class="card-comparison__icon"
                                                src="../static/images/comparison/comparison-ok.png" alt="">Package
                                            documents
                                        </li>
                                    </ul>
                                    <h3 class="modal__title">Цена: 1790 грн</h3>
                                </div>
                                <div class="modal-inner" id="premium-modal">
                                    <h2 class="modal__title">Premium set</h2>
                                    <div class="modal__image">
                                        <img src="../static/images/price-constructor/sets/set-popup-premium.jpg" alt="">
                                    </div>
                                    <ul class="property-list text">
                                        <li class='property-list__item'><img class="card-comparison__icon"
                                                src="../static/images/comparison/comparison-ok.png" alt="">Коврик в
                                            багажник
                                        </li>
                                        <li class='property-list__item'><img class="card-comparison__icon"
                                                src="../static/images/comparison/comparison-ok.png" alt="">Warranty
                                            from
                                            6
                                            to
                                            12 months
                                        </li>
                                        <li class='property-list__item'><img class="card-comparison__icon"
                                                src="../static/images/comparison/comparison-ok.png" alt="">Sewing
                                            time
                                            5-7
                                            days

                                        </li>
                                        <li class='property-list__item'><img class="card-comparison__icon"
                                                src="../static/images/comparison/comparison-ok.png" alt="">Original
                                            fasteners + Velcro system

                                        </li>
                                        <li class='property-list__item'><img class="card-comparison__icon"
                                                src="../static/images/comparison/comparison-ok.png" alt="">Package
                                            documents
                                        </li>
                                    </ul>
                                    <h3 class="modal__title">Цена: 1540 грн</h3>
                                </div>
                            </div>
                            <div class="price-constructor__step constructor-step" data-step-id="4">
                                <h3 class="constructor-step__title">The final step is to determine a sewing timeframe
                                    and one of
                                    of 4 payment methods
                                    Fill out the form to contact a consultant
                                </h3>
                                <div class="constructor-step__fields">
                                    <h4 class="constructor-step__field-title">Fill out the form
                                    </h4>
                                    <input type="text" name="user-name" required placeholder="Your name*"
                                        class="constructor-step__input constructor-step__field">
                                    <input type="tel" name="user-phone" required placeholder="Your phone number*"
                                        class="constructor-step__input constructor-step__field">
                                    <input type="email" name="user-email" required placeholder="Your email*"
                                        class="constructor-step__input constructor-step__field">
                                    <button type="submit" class="constructor-step__button button">We'll call you back in
                                        five
                                        minutes</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
            <section class="how-we-work section">
                <div class="container">
                    <h2 class="title section__title how-we-work__title">How do we work?
                    </h2>
                    <p class="section__sub-title how-we-work__title">Terms of payment, delivery, warranty
                    </p>
                    <div class="how-we-work__grid">
                        <div class="how-we-work__item item-work">
                            <div class="item-work__image"><img src="../static/images/how-we-work/work-1.png" alt="">
                            </div>
                            <p class="item-work__text text">Fill out the application form
                            </p>
                        </div>
                        <div class="how-we-work__arrow">
                            <img src="../static/images/how-we-work/work-arrow.png" alt="">
                        </div>
                        <div class="how-we-work__item item-work">
                            <div class="item-work__image"><img src="../static/images/how-we-work/work-2.png" alt="">
                            </div>
                            <p class="item-work__text text">We'll get back to you within 30 minutes.
                            </p>
                        </div>
                        <div class="how-we-work__arrow">
                            <img src="../static/images/how-we-work/work-arrow.png" alt="">
                        </div>
                        <div class="how-we-work__item item-work">
                            <div class="item-work__image"><img src="../static/images/how-we-work/work-3.png" alt="">
                            </div>
                            <p class="item-work__text text">We clarify the details of the order (bundling, payment)

                            </p>
                        </div>
                        <div class="how-we-work__item item-work">
                            <div class="item-work__image"><img src="../static/images/how-we-work/work-4.png" alt="">
                            </div>
                            <p class="item-work__text text">Send an order for sewing.
                                Sewing time 5-7 days

                            </p>
                        </div>
                        <div class="how-we-work__arrow">
                            <img src="../static/images/how-we-work/work-arrow.png" alt="">
                        </div>
                        <div class="how-we-work__item item-work">
                            <div class="item-work__image"><img src="../static/images/how-we-work/work-5.png" alt="">
                            </div>
                            <p class="item-work__text text">Send your mats
                            </p>
                        </div>
                        <div class="how-we-work__arrow">
                            <img src="../static/images/how-we-work/work-arrow.png" alt="">
                        </div>
                        <div class="how-we-work__item item-work">
                            <div class="item-work__image"><img src="../static/images/how-we-work/work-6.png" alt="">
                            </div>
                            <p class="item-work__text text">You get them in the mail and recommend Us to your friends
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="feedback section">
                <div class="container">
                    <h2 class="title section__title feedback__title">Any questions?
                    </h2>
                    <p class="section__sub-title feedback__sub-title">ЗGive them to our manager and we will call you
                        back as soon as possible.
                        as soon as possible:
                    </p>
                    <form action="" method="post" class="feedback-form">
                        <input type="text" required name="user-name" class="feedback-form__input"
                            placeholder="Your name*">
                        <input type="email" required name="user-email" class="feedback-form__input"
                            placeholder="Your email*">
                        <textarea name="user-message" required id="user-message" class="feedback-form__message"
                            placeholder="Your question*"></textarea>
                        <button type="submit" class="button feedback-form__button">Send</button>
                    </form>
                </div>
            </section>
        </main>
        <footer class="footer">
            <a href="/" class="logo header-logo">
                <img src="../static/images/logo.png" alt="Evacode logo">
            </a>
            <div class="contact-box">
                <div class="social-box">
                    <div class="social-box__links">
                        <a href="#" class="social-box__link">
                            <i class="icon-facebook"></i>
                        </a>
                        <a href="#" class="social-box__link">
                            <i class="icon-vk"></i>
                        </a>
                        <a href="#" class="social-box__link">
                            <i class="icon-instagram"></i>
                        </a>
                    </div>
                    <a href="#" class="social-box__link social-box__text">
                        <i class="icon-mail"></i>
                        evadrive.md@gmail.com
                    </a>
                </div>
                <div class="phones-box">
                    <a href="#" class="social-box__link social-box__text">
                        <i class="icon-call-in"></i>
                        079 541-932
                    </a>
                </div>
            </div>
        </footer>
    </div>

    <script src="../static/js/swiper/swiper-bundle.min.js"></script>
    <script src="../static/js/nice-select2/nice-select2.js"></script>
    <script src="../static/js/tingle/tingle.min.js"></script>
    <script src="../static/js/works-slider.js"></script>
    <script src="../static/js/modals.js"></script>
    <script src="../static/js/script.js"></script>
</body>

</html>